@model RadyoFiratUniversite.RadyoFirat.WebUI.Models.MesajListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Mesajlar</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Mesaj İçeriği</th>
        <th>İşlemler</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Mesajs)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.MesajIcerigi</td>
            
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>